@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Noto Sans", sans-serif;
    /* overflow-x: hidden; */
}
.marq{
    background: #fff;
    height: 30px;
    line-height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
body{
    min-height: 100vh;
    width: 100%;
    
}

/* Navigation Bar */
nav{
    display: flex;
    height: 80px;
    box-shadow: 0 0 5px black;
    line-height: 70px;
    padding:0 20px;
    background: linear-gradient(45deg, rgba(251,251,194,1) 0%, rgba(252,176,69,1) 100%);
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav .logo h1{
    max-width: 300px;
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    font-weight: bold;
}
nav ul{
    position: absolute;
    right: 50px;
}
nav ul li{
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    position: relative;
    color: black;
    font-size: 18px; 
}
nav ul li a:active{
    color: navy;
}
li button{
    height: 30px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
}
li button:hover{
    background-color: #fc9505;
    box-shadow: 3px 3px 5px black;
    transform: translateY(-2px);
}
#check{
    display: none;
}
nav label{
    position: absolute  ;
    right: 20px;
    display: none;
}

/* Booking Section */
.slogan{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 105px;
    margin-top: -220px;
    color: #000;
    background: white;
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 1px 5px black;
}
.slogan h1{
    font-family: "Dancing Script", cursive;
}
.search_section form{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 0 1px 5px black;
    position: relative;
    margin-top: -125px;
}
.search_section button{
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid black;
    background: #ffd08e;
    font-size: 16px;
}
.search_section button:hover{
    background-color: #fc9505;
    box-shadow: 3px 3px 3px black;
    transform: translateY(-2px);
}
.input_box select,input{
    height: 50px;
    width: 180px;
    border-radius: 7px;
    border: 1px solid black;
    padding: 0 10px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 400;
}
.input_box label{
    font-size: 20px;
    font-weight: 400;
}

/* About */
.positivities{
    max-width: 85%;
    height: 200px;
    margin: 70px auto;
    display: flex;
    gap: 30px;
}
.positive{
    display: flex;
    flex-basis: 33.333%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Top Destinations */
.top-destinations{
    max-width: 90%;
    margin: 50px auto;
}
.top-destinations h2{
    text-align: center;
    margin: 40px;
    font-size: 30px;
}
.destinations-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr);
    min-width: 250px;
}
.destinations{
    margin: 20px;
}
.destinations:hover{
    transition: ease-in-out 0.2s;
    transform: translateY(-3px);
}
.destinations img{
    border-radius: 10px;
    height: 250px;
}
.destinations h5{
    position: absolute;
    margin-left:10px;
    max-width: 100px;
    background: #f5930b;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: -15px;
}
.destinations h3{
    margin: 10px 20px;
}

/* Greenland */
.greenland{
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.greenland::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  }
.greenland:hover{
    transform: translateY(-3px);
    transition: ease-in-out .3s;
}
.greenland .writing{
    position: absolute;
    color: #fff;
    left: 100px;
    z-index: 100;
}
.greenland img{
    width: 100%;
    object-fit: cover;
    height: 400px;    
}

/* Awards */
.awards{
    width: 90%;
    justify-content: center;
}
.awards h1{
    text-align: center;
    font-size: 35px;
    margin: 50px 0;
}
.award-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px    auto;
}

/* Footer */
footer {
    background: #222;
    width: 100%;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section a {
    color: #ffa500;
    text-decoration: none;
}
.copyright {
    margin-top: 10px;
    font-size: 14px;
}


/* Responsive Styles */
@media screen and (max-width: 1224px) {
    nav ul {
        right: 20px;
    }
    nav ul li {
        margin-left: 20px;
    }
    .slogan {
        margin-left: 50px;
        margin-top: -190px;
        padding: 10px 15px;
    }
    .search_section form {
        width: 90%;
        height: auto;
        flex-wrap: wrap;
        padding: 20px;
    }
    .input_box select, input {
        width: 160px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .destinations{
        width: 90%;
        place-items: center;
    }
    .destinations-container{
        display: grid;
        grid-template-columns: 2fr; /* Single column */
        gap: 10px; /* Space between items */
        margin: auto;
    }
    .destinations img{
        width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 770px) {
    body {
        font-size: 14px;
    }
    nav label{
        display: block;
    }
    nav{
        width: 100%;
    }  
    .checkbtn{
        display: block;
    }
    .logo h1{
        font-size: 30px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(252,176,69,1);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .bus-image img{
        width: 100%; 
        object-fit: contain;
        display: block;
        border-radius: 10px;
        margin-top: -80px;
    }
    .slogan{
        margin-top: -230px;
    }
    .top-destinations h2{
        font-size: 20px;
    }
    .destinations-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        min-width: 100px;
        margin: auto;
    }
    .destinations img{
        width: 300px;
        height: auto;
        margin: auto;
    }

    .greenland{
        overflow: hidden;
    }
    .greenland img{
        width: 100%;
        height: 400px; 
        width: 100%;
        height: auto;
        object-fit: contain; 
        display: block;   
    }
    .greenland .writing{
        left: 50px;
    }
    .award-container{
        flex-direction: column;
    }
    .input_box select,input{
        height: 30px;
        font-size: 14px;
        font-weight: 400;
    }
    .input_box label{
        font-size: 14px;
        font-weight: 400;
    }
    .search_section button{
        height: 30px;
        font-size: 14px;
    }

}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
    .destinations img{
        width: 90%;
        height: auto;
        margin: auto;
    }
    .bus-image img{
        margin-top: -100px;
    }
    .award-container{
        justify-content: center;
        align-items: center;
    }.award img{
        width: 80%;
    }
}




